.quick-bar{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Try-deep-bar{
    background-color: rgb(244, 244, 244);
    height: 100vh;
    width: 100%;
}

.chick_quick_title{
    display: flex;  
    justify-content: center;
    padding-bottom: 3rem;
}
.scan-text{
    width: 120vh;
    height: 10vh;
    border-radius: 4px 0 0 4px;
}
.scan-text-error:focus{
    color:#212529;
    background-color:#fff;
    border-color:#fe8686;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(253, 13, 13, 0.25)
}

.scan-btn{
    width: 20vh;
    border-radius: 0 4px 4px 0;
}

.text-error-empty{
    font-size: 12px;
    font-weight: bold;
}

.load{
    margin-top: 4rem;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #40C4FF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .report-bar{
    margin-top: 3rem;
    height: 35vh;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
}
.report-head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #F9FAFB;
  
  border-left: 0 solid #00ff99;
    .left-head{
        font-size: 15px;
        font-weight: bolder;
        // color: green;
    }
    .right-head{
        display: flex;
        width: 11rem;
        justify-content: space-between;
        font-size: 12px;
        .Reanalyze:hover{
            color: #4285F4;
        }
    }
}
.report-body{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.w3-red,.w3-hover-red:hover{
    color:#fff!important;
    background-color:#f44336!important;
    height: 12vh;
}

.w3-panel:after,.w3-panel:before
{
    float:left;width:100%
}
.w3-panel{
    padding:0.01em 16px
}
.dangaer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9e9e9;
    height: 60vh;
    width: 120vh;
    .dangar-btn{
        padding-top: 0.72rem;
        align-self: self-start;
    }
    .dangar-text{
        align-self: center;
        font-size: 24px;
    }
    .info-dis-text{
        padding-left: 3rem;
    }
    .i-bar{
        padding-top: 1rem;
        color: #f44336;
        font-size: 100px;
        padding-bottom: 1rem;
    }
}
.dangar-btn{
    border: none;
    background: none;
    color: white;
}
