<div class="section-one">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card-login" >
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Log In</h3>

            <div class="mb-4">
              <input [(ngModel)]="email" type="email" id="typeEmailX-2" placeholder="Email" class="input-type form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="password" type="password" id="typePasswordX-2" placeholder="Password" class="input-type form-control form-control-lg" />
            </div>

            <div class="form-check d-flex justify-content-start mb-4" *ngIf="errorLoginMessage">
              <label class="form-check-label text-danger"> *{{errorLoginMessage}} </label>
            </div>
            
            <button (click)="login()" class="login-btn all-btn" type="submit">Login</button>

            <hr class="my-4">
            <div class="sig-tsxt">Or Log in Using</div>
            <div id="google-btn" class="d-flex justify-content-center"></div>

            <div class="sig-tsxt">I don't have an account,<a href="/signup">here</a></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>