<div class="back" *ngIf="!isLoginPage() && NavShow && !isSginUpPage()">
    <div class="container-fluid sticky-top">
        <div class="container">
            <div class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="" class="navbar-brand">
                    <h1 class="p-0 logo">S</h1>
                </a>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav ms-auto">
                        <div *ngFor="let data of navData">
                            <a href="" class="nav-item nav-link" [routerLink]="[data.routerLink]" 
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                                <span>{{data.label}}</span>
                            </a>
                        </div>
                    </div>
                    <button class="login-btn">
                        <span class="login-text"
                        
                        routerLink="/login">Log In</span>
                    </button>
                    <button class="signup-btn">
                        <span class="signup-text"
                        
                        routerLink="/signup">Sign Up</span>
                    </button>
                </div>
                <button class="bars" (click)="toggleNavbar()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg></button>                
                <div *ngIf="!show">
                    <div class="headdin-nav">
                        <div *ngFor="let data of navData">
                            <a href="" class="nav-item nav-link" [routerLink]="[data.routerLink]" 
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                                <span>{{data.label}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>