
<div class="container pt-120">
    <p class="font-size-title">Terms of Service</p>
    <p class="title">Last Updated: [18/1/2024]</p>
    <p>Welcome to [Website Name], an online platform that utilizes artificial intelligence 
        to examine online fraud and phishing sites. Before using our services, please carefully
         read and understand the following Terms of Service. By accessing or using our website,
          you agree to be bound by these terms. If you do not agree with any part of these terms,
           you may not use our services.</p>
    <p class="title">1. Acceptance of Terms:</p>
    <p>By using our services, you acknowledge that you have read, understood,
         and agree to be bound by these Terms of Service. These terms may be
          updated from time to time, and your continued use of the website
           constitutes acceptance of any new or modified terms.</p>
            
    <p class="title">2. Liability:</p>
    <div><span class="sub-title">a. Data Accuracy:</span>  While we strive to provide accurate and reliable results, we do not guarantee the accuracy, completeness, or reliability of the information obtained through our services.</div>
    <div><span class="sub-title">b. Incorrect Use:</span>  Users are solely responsible for the correct and lawful use of the data obtained from our services. Any incorrect use of the data may expose the user to legal liability.</div>

    <p class="title">3. Use of Services:</p>
    <div><span class="sub-title">a. Legitimate Use:</span> Our website is intended for the legitimate examination of URLs to determine if they are associated with online fraud or phishing activities. </div>
    <div><span class="sub-title">b. Prohibited Use: </span>   Any attempt to misuse, abuse, or engage in fraudulent activities on our website is strictly prohibited.</div>
    

    <p class="title">4. Security:</p>
    <div><span class="sub-title">a. Hacking Attempts:</span> Unauthorized attempts to access, modify, or interfere with our website or its data are strictly prohibited. Any such attempts may result in legal action and liability.</div>
    <div><span class="sub-title">b. Security Measures:</span> We employ reasonable security measures to protect the integrity of our website and data. However, we do not guarantee the absolute security of our services.</div>
    
    <p class="title">5. Data Usage:</p>
    <div><span class="sub-title">a. Collection:</span> By using our services, you agree that we may collect and store the data you enter for the purpose of examining URLs and improving our services.</div>
    <div><span class="sub-title">b. Studies and Analysis:</span> We reserve the right to use the collected data for studies, analysis, and research purposes, while ensuring confidentiality and privacy.</div>

    <p class="title">6. Termination:</p>
    <p>We reserve the right to terminate or suspend your access to our services at any time, without notice, for any reason, including if you violate these Terms of Service.</p>

    <p class="title">7. Disclaimer:</p>
    <div><span class="sub-title">a. No Warranty:</span> Our services are provided "as is" and without any warranty or guarantee of any kind, either expressed or implied.</div>
    <div><span class="sub-title">b. Third-Party Links:</span> We are not responsible for the content or reliability of third-party websites linked to or from our platform.</div>

    <p class="title">8. Changes to Terms:</p>
    <p>
        We reserve the right to modify or update these Terms of Service at any time without prior notice. It is your responsibility to review these terms periodically.</p>
    
    <p class="title">9. Termination:</p>
    <p>Contact Information:If you have any questions or concerns regarding these Terms 
        of Service, please contact us at [<a href="/about">contact@websitename.com</a>].</p>
        <br>
        <br>
        <br><br>
        
    <p>By using our services, you acknowledge that you have read, understood, and agree to abide by these Terms of Service.</p>

<br>
<br>
<br>
<br>