.start_bar{
    background-color: #4285F4;
    height: 100vh;
    width: 100%;
}

.skil_bar {
    
    display: flex;
    justify-content: flex-end;
}
.pass{
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;
}
.chick_home_bar {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_wrap {
    display: flex;
}

.bar {
    width: 45px;
    margin: 0 20px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inside1{
    width: 70px;
    background: #cddc39;
    animation: slide1 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside2 {
    width: 70px;
    background: #40C4FF;
    animation: slide2 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside1 {
    height: 70%;
}

.inside2 {
    height: 80%;
}

@keyframes slide1 {
    from {
        height: 0;
    }

    to {
        height: 70%;
    }
}

@keyframes slide2 {
    from {
        height: 0;
    }

    to {
        height: 80%;
    }
}


/////////
/// 
/// 
/// 
/// 

.inside3{
    width: 70px;
    background: #cddc39;
    animation: slide3 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside4 {
    width: 70px;
    background: #40C4FF;
    animation: slide4 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside3 {
    height: 54%;
}

.inside4 {
    height: 50%;
}

@keyframes slide3 {
    from {
        height: 0;
    }

    to {
        height: 54%;
    }
}

@keyframes slide4 {
    from {
        height: 0;
    }

    to {
        height: 50%;
    }
}

/////////
/// 
/// 
/// 
/// 

.inside5{
    width: 70px;
    background: #cddc39;
    animation: slide5 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside6 {
    width: 70px;
    background: #40C4FF;
    animation: slide6 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside5 {
    height: 24%;
}

.inside6 {
    height: 30%;
}

@keyframes slide5 {
    from {
        height: 0;
    }

    to {
        height: 24%;
    }
}

@keyframes slide6 {
    from {
        height: 0;
    }

    to {
        height: 30%;
    }
}

/////////
/// 
/// 
/// 
/// 

.inside7{
    width: 70px;
    background: #cddc39;
    animation: slide7 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside8 {
    width: 70px;
    background: #40C4FF;
    animation: slide8 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside7 {
    height: 6%;
}

.inside8 {
    height: 12%;
}

@keyframes slide7 {
    from {
        height: 0;
    }

    to {
        height: 6%;
    }
}

@keyframes slide8 {
    from {
        height: 0;
    }

    to {
        height: 12%;
    }
}



//
.Text-home{
    padding: 10rem;
    position: absolute;
    width: 800px;
    color: white;
    h6{
        font-weight: bold;
    }
    span{
        font-size: 25px;
    }
}

.scan-text{
    width: 120vh;
    height: 10vh;
    border-radius: 4px 0 0 4px;
}
.scan-btn{
    width: 20vh;
    border-radius: 0 4px 4px 0;
}
.chick_home_title{
      display: flex;  
      justify-content: center;
}

.scan-text-error:focus{color:#212529;background-color:#fff;border-color:#fe8686;outline:0;box-shadow:0 0 0 .25rem rgba(253, 13, 13, 0.25)}

.report-bar{
    margin-top: 3rem;
    height: 35vh;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
}
.report-head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #F9FAFB;
  
  border-left: 0 solid #00ff99;
    .left-head{
        font-size: 15px;
        font-weight: bolder;
        // color: green;
    }
    .right-head{
        display: flex;
        width: 11rem;
        justify-content: space-between;
        font-size: 12px;
        .Reanalyze:hover{
            color: #4285F4;
        }
    }
}
.report-body{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.text-error-empty{
    font-size: 12px;
    font-weight: bold;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #40C4FF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .load{
    margin-top: 4rem;
  }
      
//add more screen
@media (max-width: 850px){
    .inside1{
        width: 70px;
        background: #cddc39;
        animation: slide1m 2s ease-in-out;
        border-radius: 2px 2px 0 0;
        bottom: 0;
        position: absolute;
    }
    
    .inside2 {
        width: 70px;
        background: #40C4FF;
        animation: slide2m 2s ease-in-out;
        border-radius: 2px 2px 0 0;
        bottom: 0;
        position: absolute;
    }
    
    .inside1 {
        height: 40%;
    }
    
    .inside2 {
        height: 50%;
    }
    
    @keyframes slide1m {
        from {
            height: 0;
        }
    
        to {
            height: 40%;
        }
    }
    
    @keyframes slide2m {
        from {
            height: 0;
        }
    
        to {
            height: 50%;
        }
    }

    
.inside3{
    width: 70px;
    background: #cddc39;
    animation: slide3m 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside4 {
    width: 70px;
    background: #40C4FF;
    animation: slide4m 2s ease-in-out;
    border-radius: 2px 2px 0 0;
    bottom: 0;
    position: absolute;
}

.inside3 {
    height: 34%;
}

.inside4 {
    height: 30%;
}

@keyframes slide3m {
    from {
        height: 0;
    }

    to {
        height: 34%;
    }
}

@keyframes slide4m {
    from {
        height: 0;
    }

    to {
        height: 30%;
    }
}


.Text-home{
    padding-left: 2rem;
    position: absolute;
    width: 500px;
    color: white;
    h6{
        font-weight: bold;
    }
    span{
        font-size: 20px;
    }
}
}


@media (max-width: 280px){
    .Text-home{
        padding-left: 1rem;
        position: absolute;
        width: 400px;
        color: white;
        h6{
            font-weight: bold;
        }
        span{
            font-size: 15px;
        }
    }
}

.more-info{
    height: 100vh;
    background-color: #cdcdcd;
}